Header/Logo Title
.header {
  padding: 60px;
  text-align: center;
  background: #adc46a;
  color: #adc46a;
  font-size: 30px;
}

.container  {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  margin-top: 0;
  font-size: 90px;
}

p {
  margin-top: 0;
  color: white;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DarkSalmon;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #adc46a;
}

.centered {
position: absolute;
top: 26%;
left: 40%;
transform: translate(-50%, -50%);
}

footer {
text-align: center;
position: fixed;
left: 0;
padding: 3px;
bottom: 0;
width: 100%;
background-color: DarkSalmon;
color: white;
text-align: center;
}